<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Atualizar revista</title>
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:scr="@{/jquery-3.6.3-dist/jquery-3.6.3.min.js}"></script>
<script th:scr="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>



<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>
	<div th:insert="fragments/publica-nav :: nav"></div>
	<div class="container">
	
		<div class="row">
		<h2>Editar Revista</h2>
			<div class="col">
				<form th:action="@{/revista/editar/{id}(id=${revista.id})}" th:object="${revista}" method="post">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Nome:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{titulo}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('titulo')}"
								th:errors="*{titulo}"></span>
						</div>
					</div>

					<input class="btn btn-primary" type="submit" value="Alterar" /> <a
						type="button" class="btn btn-default" href="/revista/user/listar">Voltar</a>
				</form>
			</div>
		</div>
	</div>
	<div th:insert="fragments/publica-nav :: foot"></div>
</body>
</html>